<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "My suite" parallel="methods" thread-count="5">
  <parameter name="isGrid" value="true"/>

  <test name="TestAttempt" >
    <classes>
      <class name = "com.myTests.DemoTest" />

    </classes>
  </test>
  </suite>

